.logo-cont img {
    width: 50px;
    height: 50px;
}

.header {
    margin: 5px auto;
    max-width: 380px;
}

.main-text {
    font-size: 30px;
    font-weight: bold;
    color: black;
    line-height: 1.3125;
}

.sign-bn {
    width: 100%;
    background-color: #3ba1f2;
    font-weight: bold;
    font-size: 17px;
}

.log-in {
    width: 100%;
    font-weight: bold;
    font-size: 17px;
    background-color: white;
    border: 1px solid #3ba1f2;
}

.row-2 {
    background-color: #71c9f8;
}