.logo-cont img {
    width: 50px;
    height: 50px;
}

.header {
    margin: 5px auto;
    max-width: 380px;
}

.main-text {
    font-size: 30px;
    font-weight: bold;
    color: black;
    line-height: 1.3125;
}

.sign-bn {
    width: 100%;
    background-color: #3ba1f2;
    font-weight: bold;
    font-size: 17px;
}

.log-in {
    width: 100%;
    font-weight: bold;
    font-size: 17px;
    background-color: white;
    border: 1px solid #3ba1f2;
}

.row-2 {
    background-color: #71c9f8;
    position: relative;
    overflow: hidden;
}

.bird-bg {
    position: relative;
    z-index: 1;
}

.twt {
    fill: #1da1f2;
    width: 350px;
    position: absolute;
    top: -13vh;
    right: -16vh;
    height: 60vh;
}

.headsup {
    max-width: 380px;
    position: relative;
    z-index: 100;
}

.s-fll {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 28px;
}

.ppl,
.chat {
    fill: white;
    width: 24px;
}

.foot-wrap {
    background-color: #fff;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.wrap a {
    color: #aab8c2;
    font-size: 12px;
}